header{
    border: solid 1px black;
    width: 70%;
    margin: auto;
    min-height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
header div{
    margin: 10px;
}
header .error{
    color: red;
}
main{
    border: solid 1px black;
    width: 70%;
    margin: auto;
    min-height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

main table{
    border-collapse: collapse;
    width: 100%;

}

main table td,th{
    border: 1px black solid;
}